$mainFont: 'Oswald', 'Arial', sans-serif;
$subFont: 'Arial', sans-serif;
$retinaDpi: 144dpi;
$retinaDppx: 1.5dppx;
$mobileWidth: 320px;
$tabletWidth: 768px;
$desktopWidth: 1440px;
$blackFontColor: #111111;
$blackFormFontColor: #222222;
$subBlackFontColor: #444444;
$inputBorderColor: #cdcdcd;
$buttonColor: #f2f2f2;
$hoverGreenColor: #5eaa2f;
$hoverButtonColor: #ebebeb;
$mainGreenColor: #68b738;
$optionsPath: '../img/options/';
$processPath: '../img/process/';
